
#chat {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  .bubble {

    padding: 20px;
    max-width: 200px;
    background-color: #ffffff;

    .message {
      font-size: 1.5em;
    }

    .profile {
      img {
        border-radius: 20px;
        height: 40px;
      }
    }


  }
}